nimcache/
/nimcache/
/.nimcache/
htmldocs/
docs-out/
/htmldocs/
/docs-out/
/tests/all
/benchmarks/core_bench
/packages/flowbrigade_redis/tests/test_flowbrigade_redis
/packages/flowbrigade_redis/tests/test_flowbrigade_redis_integration
/packages/flowbrigade_ready/tests/test_flowbrigade_ready
/packages/flowbrigade_ready/tests/test_flowbrigade_ready_integration
/packages/flowbrigade_memcached/tests/test_flowbrigade_memcached
/packages/flowbrigade_memcached/tests/test_flowbrigade_memcached_integration
/packages/flowbrigade_prologue/tests/test_flowbrigade_prologue
*.exe
*.dll
*.so
*.dylib
*.a
*.o
*.obj
*.pdb
*.ilk
*.nimble-link
nimble.paths
nimble.lock
